<div class="header">
  <h1>Add Blog Post</h1>
</div>

<% if(req.session.isAuthenticated) { %>
  <form method="GET" action="/blog/logout"> 
      <button type="submit">Logout</button>
  </form>
  <% } %>

<div class="post">
  <h2>Create New Blog Post</h2>
  <form action="/blog/create" method="POST">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea id="content" name="content" required></textarea> 
    </div>
    <button type="submit" name="publish" value="true">Publish</button>
    <button type="submit" name="draft" value="true">Save Draft</button>
  </form>
</div>


<% if (blogPosts && blogPosts.length > 0) { %>
  <section class="blog-posts">
    <h2>Draft Posts</h2>
    <% let hasDraftPosts = false; %>
    <% blogPosts.forEach(post => { %>
      <% if (post.status === 'draft') { %>
        <% hasDraftPosts = true; %>
        <article class="post">
          <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
          <p class="date">Created: <%= post.createdAt %></p>
          <p class="date">Updated: <%= post.updatedAt %></p>
          <div class="content">
            <%- post.content %>
          </div>
          <form action="/blog/<%= post.id %>/publish" method="POST">
            <button type="submit">Publish</button>
          </form>
          <form action="/blog/<%= post.id %>/delete" method="POST">
            <button type="submit">Delete</button>
          </form>

          <form action="/blog/<%= post.id %>/update" method="GET">
            <button type="submit">Update</button>
          </form>
        </article>
      <% } %>
    <% }); %>
    <% if (!hasDraftPosts) { %>
      <p>No draft posts yet.</p>
    <% } %>
  </section>

  <section class="blog-posts">
    <h2>Published Posts</h2>
    <% let hasPublishedPosts = false; %> 
    <% blogPosts.forEach(post => { %>
      <% if (post.status === 'published') { %>
        <% hasPublishedPosts = true; %>
        <article class="post">
          <h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
          <p class="date">Created: <%= post.createdAt %></p>
          <p class="date">Updated: <%= post.updatedAt %></p>
          <div class="content">
            <%- post.content %>
          </div>
          <form action="/blog/<%= post.id %>/move-to-draft" method="POST">
            <button type="submit">Move to Draft</button>
          </form>
          <form action="/blog/<%= post.id %>/delete" method="POST">
            <button type="submit">Delete</button>
          </form>
        </article>
      <% } %>
    <% }); %>
    <% if (!hasPublishedPosts) { %>
      <p>No published posts yet.</p>
    <% } %>
  </section>
<% } else { %>
  <p>No blog posts yet.</p>
<% } %>





