<article class="post">
  <header>
    <h1><%= post.title %></h1>
    <p class="date">Created by <%= post.author %> on <%= post.createdAt %> </p>
    <p class="date">Last Updated by: <%= post.updatedAt %></p>
    <p class="date">Contributors: <%= post.author2 %></p>
  </header>
  
  <% if (post.status === 'published') { %>
    <div class="post-content">
      <p>
        <%- post.content.replace(/\n/g, '<br>') %>  
      </p> 
      
    </div>
    
    <div class="likes-section">
      <p>Views: <%= views %></p>
      <p class="like-count">Likes: <%= likes || 0 %></p>
      <form method="POST" action="/post/<%= post.id %>/like">
        <button type="submit">Like</button>
      </form>
    </div>

    <section class="comments">
      <h3>Comments</h3>
      <% if (comments.length > 0) { %>
        <ul>
          <% comments.forEach(comment => { %>
            <li>
              <p><strong><%= comment.author %>:</strong> <%= comment.content %> <span style="float: right;"><%= comment.createdAt %></span></p>

            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <p>No comments yet.</p>
      <% } %>
    </section>

    <h3>Add a Comment</h3>
    <form method="POST" action="/post/<%= post.id %>/comments">
      <div>
        <label for="author">Name:</label>
        <input type="text" id="author" name="author" required />
      </div>
      <div>
        <label for="content">Comment:</label>
        <textarea id="content" name="content" rows="4" required></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  <% } else { %>
    <p>This post is a draft and not available for viewing.</p>
  <% } %>
</article>